<%- include('./partials/header.ejs') %>

<section id="sobre-jelis">
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-5">Sobre Jelis</h1>
                <p class="lead">Jelis ("eu leio", em francês) foi feito por necessidade: de colocar em prática meus estudos de Desenvolvimento Web; de agregar projetos ao meus portfólio; mas acima de tudo minha necessidade incontrolável de ler livros e tomar notas de maneira ordenada, centralizada e mais ou menos permanente.</p>
                <p class="lead">Se você leu Como Ler Livros, você sabe da necessidade de tomar notas, escrever resumos, registrar termos, etc. O problema que surge é que o papel se gasta ou se perde (ou pior, se acumula!), a tinta se descolore e mesmo o exemplar que você leu pode ser perdido em alguma mudança e todas suas preciosas anotações somem com ele. Mas fazendo suas anotações com Jelis, esse problema é resolvido!</p>
                <p class="lead">Outra necessidade ainda era encontrar uma forma mais conveniente de visualizar a lista de livros de Mortimer Adler e de agregar livros à ela. Jelis também resolve isso! Você pode pesquisar livros da lista ou ordená-la de uma forma mais conveniente além de poder rapidamente agregar novos livros e autores.</p>
                <p class="lead">Em resumo, Jelis é uma ferramenta para te ajudar a fazer anotações sobre os livros que está lendo. <i>Je lis</i> e se você também lê talvez lhe seja útil.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start my-4 mb-lg-3">
                    <a href="/livros"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Lista de Livros</button></a>
                    <a href="/"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Início</button></a>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="/images/livro-cult.jpg" alt="" width="720">
            </div>
        </div>
    </div>    
</section>

<%- include('./partials/footer.ejs') %>