<%- include('./partials/header.ejs') %>

<section id="adler">
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-5"><span class="display-5">(Como)</span> Ler Livros</h1>
                <p class="lead">A população mundial está ao redor de 8 bilhões de habitantes, o que com certeza é muito. Mas a ainda assim representa apenas aproximadamente 7,4% dos seres humanos que já passaram pela terra. Portanto, restringir-nos somente às pessoas de nossa geração é ignorar a maior parte da humanidade. Porém como conversar e aprender com aqueles que já não existem? Principalmente através dos livros.</p>
                <p class="lead">Mortirmer Adler ensina que existem professores presentes – que estão fisicamente diante nós, respondendo nossas dúvidas e corrigindo-nos – e os professores ausentes – dentre os quais se encontram os autores de livros. E são estes que nos possibilitam mais que outros tomar parte no diálogo da humanidade. Contudo, diante de tantos livros e escritores, é fácil se sentir oprimido e perdido, sem saber o que ler. Com isso em mente, Adler propõe uma <a href="/livros">lista de obras</a> e autores para guiar os leitores. Vale ressaltar que são inúmeras as listas desse gênero e que você não precisa de limitar aos livros da lista de Adler e nem mesmo segui-la inteiramente. Acima de tudo, ela é um bom começo para quem não sabe por onde começar.</p>
                <p class="lead">Finalmente, uma lista de livros só é útil para quem os sabe ler. Dentre as muitas formas de aprender a ler produtivamente, recomenda-se aqui a de Adler, que você pode aprender através do livro <a href="https://www.amazon.com.br/s?k=como+ler+livros+mortimer+adler">Como Ler Livros</a>.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start my-4 mb-lg-3">
                    <a href="/"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Início</button></a>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="/images/comoLerLivrosCapa.jpg" alt="" width="720">
            </div>
        </div>
    </div>    
</section>



<%- include('./partials/footer.ejs') %>